*{
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.header {
    font-family: 'DM Serif Text', serif;
    background-color: rgb(0, 0, 0);
    height: 50px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    box-shadow: 5px 5px 40px;
    z-index: 100000000000000000000000;
}
.nav {
    display: flex;
    justify-content: space-between;
}
.nav a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    max-width: 992px;
}

.home {
    font-size: 32px;
    padding: 0 30px;
    line-height: 50px;
}
.nav-menu {
 display: flex;
 margin-right: 50px;
 line-height: 50px;
 list-style: none;
 font-size: 18px;
}
.nav-menu-item{
    margin-right:40px;
    width: max-content;
}
.nav-menu-link:hover{
    font-size: 20px;
    transition: 0.5s;
}
.nav-toggle{
    color: white;
    background: none;
    border: none;
    font-size: 32px;
    padding: 0 20px;
    line-height: 50px;
    display: none;
}

.projects {
    width: 100%;
    height: auto;
    background: linear-gradient(#F50909, #660101);
    padding-top: 100px;
    padding-bottom: 100px;

}
h2{
    left: auto;
    text-align: center;
    font-family: 'Berkshire Swash', cursive;
    font-size: 80px;
    font-weight: lighter;
    background-image: url(../resources/roses.jpg);
    color: #0000007e;
    -webkit-background-clip: text;
}
.cards{
    margin: 50px;
    margin-top: 100px;
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.card{
    height: 500px;
    border-radius: 32px;
    background-color: #003159;
    padding: 0;
    margin-bottom: 50px;
    justify-content: center;
    margin: 10px;
    transition: 0.5s;
}
.card:hover{
     transform: scale(1.05);
}
.card-image{
    width: 100%;
    height: 90%;
    color: #ffffff;
    text-align: center;
    padding-top: 10px;
    border-radius: 32px 32px 0 0;
    background-size: cover;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.486), rgba(0, 0, 0, 0.486)), url(https://imageio.forbes.com/specials-images/dam/imageserve/966248982/960x0.jpg?format=jpg&width=960);
}
.cards a{
    text-decoration: none;
    font-size: 32px;
    font-family: 'DM Serif Text', serif;
}
.card-tags{
    width: 100%;
    height: 10%;
    border-radius: 0 0 32px 32px;
    background-color: #6D0000;
    display: flex;
    justify-content: space-around;
}
.tag{
    width: 100px;
    height: 32px;
    background-color: #C65A47;
    border-radius: 32px;
    text-align: center;
    padding-top: 5px;

   margin: 10px;
   color: #ffffff;
}
.tag p {
    font-family: 'DM Serif Text', serif;
}

.sectionContact {
    width: 100%;
    height: auto;
    background: linear-gradient(#011627, #003159);
    display: flex;
    flex-direction: column;
    padding-bottom: 100px;
}
.sectionContact h3{
    margin-top: 100px;
    text-align: center;
    color: #ffffff;
    font-family: 'Times New Roman', Times, serif;
    font-size: 80px;
    font-weight: lighter;
}
.form {
    display: flex;
    justify-content: center;
}
.form form{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
}
.form-item{
    display: flex;
    width: 80vw;
    height: 50px;
    padding: 0 20px;
    background-color: #D9D9D9;
    border-radius: 30px;
    margin-bottom: 30px;
}
.form-item input{
    background: none;
    border: none;
    width: 100%;
    height: 100%;
    margin-left: 20px;
    color: #011627;
    font-weight: lighter;
    outline: none;
    font-family: 'DM Serif Text', serif;
    font-size: 24px;
    
}
.form-item textarea{
    background: none;
    border: none;
    width: 100%;
    height: 100%;
    margin-left: 20px;
    color: #011627;
    font-weight: lighter;
    outline: none;
    font-family: 'DM Serif Text', serif;
    font-size: 24px;
    
}
.form-emoji img{
    margin-top: 8px;
    width: 32px;
    height: 35px;
}
textarea{
    margin-top: 5px;
    resize: none;
}
#textarea{
    height: 200px;
}
.submit {

    background-color: #D9D9D9;
    border-radius: 30px;
    border: none;
    width: 100px;
    color: #011627;
    font-weight: lighter;
    outline: none;
    font-family: 'DM Serif Text', serif;
    font-size: 24px;
    transition: 0.5s;
}
.submit:hover{
    background-color: #a2d80c;
    color: #ffffff;
}
footer{
    width: 100%;
    height: auto;
    padding: 20px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #000000;
}
footer p{
    color: #ffffff;
    font-family: 'DM Serif Text', serif;
    font-size: 16px;
}
.social {
    margin-top: 20px;
}
.social-item{
    color: #ffffff;
    font-size: 32px;
    transition: 0.3s;
    margin: 10px;
}
.social-item:hover{
    font-size: 36px;
}
@media (max-width: 1280px){
    .nav-menu {
        flex-direction: column;
        background-color: rgba(46, 46, 46, 0.829);
        backdrop-filter: blur(10px);
        position: fixed;
        left: 0;
        top: 50px;
        width: 100%;
        align-items: center;
        padding: 20px 0;
        height: 100%;
        overflow-y: auto;
        left: 100%;
        transition: 0.3s;
       }
    .nav-toggle{
        display: block;
    }
    .nav-menu_visible{
        left: 0;
    }
    .nav-menu-item{
        margin-top:50px;
    }
}
@media (min-width: 1280px){
.form-item{
    width: 40vw;
}
.sectionContact h3{
    font-size: 120px;
}
h2{
    font-size: 120px;
}
}
