html{
    scroll-behavior: smooth;
}
body {
    font-family: 'Press Start 2P', cursive;
}
/*Header/NavBar*/
header{
    position: fixed;
    z-index: 500;
    background-color: #0000005d;
}
#navbar{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1 a{
    color: white;
    text-decoration: none;
    transition: 0.5s;
}
nav a{
    color: white;
    font-size: 12px;
    text-decoration: none;
    transition: 0.5s;
}
h1 a:focus{
    color:#EBE41C;
    font-size: 35px;
}
h1 a:hover{
    color:#EBE41C;
    font-size: 35px;
}
nav a:hover{
    color:#EBE41C;
    font-size: 20px;
}



/*Section1*/

#section01{ /*Fondo*/
    width: 100%;
    background-color: #EBE41C;
    background-position: center center;
    background-size: cover;
    margin: 0;
    padding-top: 110px;
}
h2{
    text-align: center;
    font-size: 60px;
}
.cardcontainer{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row-reverse;
    
}
.cardcontainer a{
    text-decoration: none;
}
.card{
    width: 200px;
    height: 300px;
    box-shadow: 2px 2px 15px #00000052;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    padding: 10px;
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)) ,url(covers/portfoliomain.png);
    background-position: center center;
    object-fit: cover;
    transition: 0.5s;
    color: rgb(240, 238, 238);
}
.card p{
    text-align: center;
    font-size: 15px;
    text-shadow: 5px 5px 5px #000000;
}
#pcontinued{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)) ,url(covers/pcontinued.jpg);
}
#p02{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)) ,url(https://i.pinimg.com/originals/0a/75/7e/0a757e4f8c412b072e453d0e2a3ec57f.jpg);
}
#p03{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)) ,url(https://i.blogs.es/b44509/youtubealt/450_1000.webp);
}
/*Footer*/
footer{
    padding: 10px;
    background-color:#000000;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#nicomuecotrade{
    color: white;
    font-size: 15px;
}




@media (min-width:840px){
    #navbar{
        width: 100vw;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 50px;
        margin-top: 0;
        margin-bottom: 0;
        position: relative;
    }
    nav{
        position: absolute;
        right: 100px;
    }
    nav a{
        margin-left: 40px;
    }
    .card:hover{
        width: 205px;
        height: 305px;
    }
@media (min-width:1250px){}